*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
header .logo{
    width: 5%;
    position: relative;
}
header a{
    position: relative;
    /* top: 20px;
    left: 20px; */
    text-decoration: none;
    font-size: 2rem;
    color: #000;
}
header ul{
    margin: 10px;
}
header span{
    color: red;
}
header li{
    display: inline;
    list-style: none;
    margin-top: 50px;
}
header li a{
    text-decoration: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    top: 20vh;
    left: 0;

}
.heading{
    position: relative;
    display: flex;
    justify-content: center;
    top: 20vh;
    left: 0;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}
.container .value{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 2%;
    width: 25%;
    height: 6vh;
    font-size: 20px;
    outline: none;
}
.footer{
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}
.footer ul{
    margin-bottom: 10px;
}
.footer li{
    display: inline;
    list-style: none;
    margin: 20px;
}
.footer li a{
    bottom: 30px;
    left: 0;
    text-decoration: none;
    color: rgb(165, 162, 162);
 }
 .footer li a:hover{
     color: #000;
 }





 @media (max-width: 550px){
    header .logo{
        width: 8%;
    }
    .container{
        position: relative;
        justify-content: center;
        align-items: center;
        display: inline-block;
        width: 100%;
        padding: 20px;
    }
    .container .value{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 20%;
        margin-top: 40px;
        width: 60%;
        height: 6vh;
        font-size: 20px;
        outline: none;
    }
 }